{% extends "base.html" %}

{% set active_page = "users" %}

{% block content %}
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <center>
      <h1>{{ macros.render_name(u) }}</h1>
    <br>
    <br>
    <table class="table">
      <tr>
	<td>First Name</td><td>{{ u.fname }}</td>
      </tr>
      <tr>
	<td>Last Name</td><td>{{ u.lname }}</td>
      </tr>
      <tr>
	<td>Nickname</td><td>{{ u.nickname }}</td>
      </tr>
      <tr>
	<td>Email</td><td>{{ u.email }}</td>
      </tr>
      <tr>
	<td>OSIS</td><td>{{ u.osis }}</td>
      </tr>
      <tr>
	<td>Four Digit</td><td>{{ u.four_digit }}</td>
      </tr>
      <tr>
	<td>Organizations</td>
	<td>
	  {% for organization in u.organizations.split(',') %}{{ macros.render_label(organizations, organization)}} {% endfor %}
	</td>
      </tr>
      <tr>
	<td>Attending Tuesday</td>
	<td>
	  {% if u.wednesday_excused %}
	    Excused
	    <a class="btn btn-primary pull-right active" href="{{ url_for('toggle_wednesday_excused', user_id = u.id) }}">Excused</a>
	  {% else %}
	    {{ macros.render_boolean(u.wednesday) }}
	    <a class="btn btn-primary pull-right" href="{{ url_for('toggle_wednesday_excused', user_id = u.id) }}">Excused</a>
	    <a class="btn btn-primary pull-right" href="{{ url_for('toggle_wednesday', user_id = u.id) }}">Toggle</a>
	  {% endif %}
	</td>
      </tr>
      <tr>
	<td>Attending Wednesday</td>
	<td>
	  {% if u.thursday_excused %}
	    Excused
	    <a class="btn btn-primary pull-right active" href="{{ url_for('toggle_thursday_excused', user_id = u.id) }}">Excused</a>
	  {% else %}
	    {{ macros.render_boolean(u.thursday) }}
	    <a class="btn btn-primary pull-right" href="{{ url_for('toggle_thursday_excused', user_id = u.id) }}">Excused</a>
	    <a class="btn btn-primary pull-right" href="{{ url_for('toggle_thursday', user_id = u.id) }}">Toggle</a>
	  {% endif %}
	</td>
      </tr>
    </table>
    <a class="btn btn-group-justified btn-primary" href="{{ url_for('toggle_admin', user_id = u.id) }}">{% if u.check_permission('admin') %}Revoke Administrator Priveledges{% else %}Make Admin{% endif %}</a>
    </center>
  </div>
  <div class="col-sm-2"></div>
  <center>

{% endblock %}

