Dear {{ fname }},
<br<br>
Thank you for volunteering for Open House. This is our opportunity to prove to prospective parents and students why they should attend Stuyvesant. Included in this email is important information, please read in its entirety.
<br><br>
On the day(s) that you are volunteering, please report to the <strong>first floor immediately after school</strong> where you will check in with ARISTA committee members. Please leave all your bags and other items in your locker. After checking in, there will be a training session instructing all volunteers on their roles and other Open House logistics. Food will be provided for volunteers after checking in. If you have an approved excuse for lateness or leaving early, please find an organization leader to check in/out with. Make sure to check out before leaving at the conclusion of the event.
<br><br>
ARISTA members: If you have an approved excuse for Tuesday (which can be checked on openhouse.stuyarista.org under the information tab), you will be required to attend Wednesday, unless you have an approved excuse for both days. Big Sibs are required to volunteer on both days.
<br><br>
Finally, please wear appropriate attire, preferably Stuy apparel or formal clothing; do not wear cropped t-shirts, short shorts, etc.
<br><br>
Please reach out your respective organization leaders if you have any questions.
<br><br>
See you all tomorrow!
<br><br>
Best regards,
<br>
ARISTA Executive Council, The SU, and The Big Sib Chairs
