Dear {{ fname }},
<br><br>
Thank you for volunteering for Open House. This is our opporuntity to prove to accepted students why they should attend Stuyvesant.  Included in this email is important information, please read in its entirety.
<br><br>
Tomorrow, Tuesday, March 21 at <strong>4:30 PM</strong>, please report to the <strong>theater</strong> for a required volunteer instruction session. After the session you will sign in with leaders and get pizza before starting your tours. Make sure to sign out before leaving at the conclusion of the event.
<br><br>
Please reach out your respective organization leaders if you have any questions. 
<br><br>
<strong>Important message from Ms. Pedrick:</strong> Please do not wear any cropped t-shirts, or short shorts.
<br><br>
See you all tomorrow!
<br><br>
Best regards,
<br>
ARISTA Executive Council
