{% extends "base.html" %}

{% block content_special %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <br>
      <br>
      <p>
	Open House will be on <b>Tuesday, March 21st from 4:00 pm - 8:00 pm</b>.
	<br>
	<br>
	Big Sibs members are required to volunteer, unless previously excused.
	<br>
	<br>
	If you are a Big Sibs member, you account is already created.  Your username is your four digit id and your password is your OSIS.
	<br>
	<br>
	If you are not in Big Sibs, <a href="{{ url_for('create') }}">please create an account</a>!
	<br>
	<br>
	Please report to the first floor on 4:00 on Tuesday.
      </p>
    </div>
  </div> 

{% endblock %}


