{% extends "base.html" %}

{% block content_special %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <br>
      <br>
      <p>
	Open House will be on <b>Tuesday, October 10th from 4:00 pm - 8:00 pm</b> and <b>Wednesday, October 11th from 4:00 pm - 8:00 pm</b>.
	<br>
	<br>
	Big Sibs are required to volunteer for both days, unless previously excused. ARISTA members are required to volunteer on Tuesday, and may volunteer on Wednesday for credits.
	<br>
	<br>
	If you are a ARISTA or Big Sibs member, you account is already created.  Your username is your four digit id and your password is your OSIS.
	<br>
	<br>
	If you are not in ARISTA or Big Sibs and would like to volunteer, <a href="{{ url_for('create') }}">please create an account</a>!
	<br>
	<br>
	Please report to the first floor on 4:00 on Tuesday and Wednesday.
      </p>
    </div>
  </div> 

{% endblock %}


