{% extends "base.html" %}

{% set active_page = "user_view" %}

{% block content %}
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <center>
      <h1>{{ macros.render_name(user) }}</h1>
    <br>
    <br>
    <table class="table">
      <tr>
	<td>First Name</td><td>{{ user.fname }}</td>
      </tr>
      <tr>
	<td>Last Name</td><td>{{ user.lname }}</td>
      </tr>
      <tr>
	<td>Nickname</td><td>{{ user.nickname }}</td>
      </tr>
      <tr>
	<td>Email</td><td>{{ user.email }}</td>
      </tr>
      <tr>
	<td>OSIS</td><td>{{ user.osis }}</td>
      </tr>
      <tr>
	<td>Four Digit</td><td>{{ user.four_digit }}</td>
      </tr>
      <tr>
	<td>Organizations</td>
	<td>
	  {% for organization in user.organizations.split(',') %}{{ macros.render_label(organizations, organization)}} {% endfor %}
	  <div class="pull-right btn-group">
	    {% if user.check_organization('red_cross') %}
	      <a href="{{ url_for('remove_organization', organization = 'red_cross') }}" class="btn btn-primary active">Red Cross</a>
	    {% else %}
	      <a href="{{ url_for('add_organization', organization = 'red_cross') }}" class="btn btn-primary">Red Cross</a>     
	    {% endif %}

	    {% if user.check_organization('key_club') %}
	     <a href="{{ url_for('remove_organization', organization = 'key_club') }}" class="btn btn-primary active">Key Club</a>
	    {% else %}
	      <a href="{{ url_for('add_organization', organization = 'key_club') }}" class="btn btn-primary">Key Club</a>     
	    {% endif %}

	    {% if user.check_organization('stuy_unity') %}
	     <a href="{{ url_for('remove_organization', organization = 'stuy_unity') }}" class="btn btn-primary active">Stuy Unity</a>
	    {% else %}
	      <a href="{{ url_for('add_organization', organization = 'stuy_unity') }}" class="btn btn-primary">Stuy Unity</a>     
	    {% endif %}

	    {% if user.check_organization('arista') %}
	     <a href="{{ url_for('remove_organization', organization = 'arista') }}" class="btn btn-primary active">ARISTA</a>
	    {% else %}
	      <a href="{{ url_for('add_organization', organization = 'arista') }}" class="btn btn-primary">ARISTA</a>     
	    {% endif %}

	  </div>
	</td>
      </tr>
      <tr>
	<td>Attending Tuesday</td>
	<td>
	  {% if user.wednesday_excused %}
	    Excused
	  {% else %}
	    {{ macros.render_boolean(user.wednesday) }}
	    {% if not user.check_organization('arista') and not user.check_organization('big_sibs') %}
	      <a class="pull-right btn btn-primary {% if user.wednesday %}active{% endif %}" href="{{ url_for('toggle_wednesday') }}">Toggle Tuesday</a>
	  {% endif %}
	{% endif %}
	</td>
      </tr>
      <tr>
	<td>Attending Wednesday</td>
	<td>
	  {% if user.thursday_excused %}
	    Excused
	  {% else %}
	    {{ macros.render_boolean(user.thursday) }}
	    {% if not user.check_organization('big_sibs') %}
	      <a class="pull-right btn btn-primary {% if user.thursday %}active{% endif %}" href="{{ url_for('toggle_thursday') }}">Toggle Wednesday</a>
	  {% endif %}
	{% endif %}
	</td>
      </tr>
    </table>
    </center>
  </div>
  <div class="col-sm-2"></div>
  <center>

{% endblock %}

